.footer {
  display: flex;
  gap: 24px;
  padding: 24px;
  justify-content: space-between;
}
.footer ul {
  list-style: none;
  padding: 0;
  color: #002594;
  line-height: 2;
  font-size: 14px;
}
.footer ul li {
  list-style: none;
  padding: 0;
  color: #002594;
  line-height: 2;
  font-size: 14px;
  cursor: pointer;
}
